In [28]:
import numpy as np
import pandas as pd

In [29]:
#APファイルの取り込み
df_ap = pd.read_csv('./wifidata/after/APlocations_group.csv')
group_number = df_ap.iloc[-1]['buildID']
print(group_number)
group_transition = np.zeros((group_number, group_number))
df_ap

49

              AP  x_coordinate(m)  y_coordinate(m)  floor  buildID
0       Bldg1AP1          21534.0          32313.0    2.0        1
1       Bldg1AP2          21534.0          32313.0    2.0        1
2       Bldg1AP3          21534.0          32313.0    3.0        1
3       Bldg1AP4          21534.0          32313.0    3.0        1
4       Bldg1AP5          21534.0          32313.0    4.0        1
...          ...              ...              ...    ...      ...
1119  Bldg48AP69          14356.0          39196.0    NaN       48
1120  Bldg48AP70          14356.0          39196.0    NaN       48
1121  Bldg48AP71          14356.0          39196.0    NaN       48
1122  Bldg48AP72          14356.0          39196.0    NaN       48
1123         out              NaN              NaN    NaN       49

[1124 rows x 5 columns]

In [27]:
#transition_201XXX_kmeans_X.csvのAP->Groupへの変換
month = '201409'
for cluster in range(5):
    print('cluster = {0}'.format(cluster))
    df_transition = pd.read_csv('./wifidata/cluster/'+month+'/transition_'+month+'_kmeans_'+str(cluster)+'.csv',index_col=0)
    #グループに変換
    transition = df_transition.to_numpy()
    for i in range(len(transition)):
        print('i = {0}, from_group = {1}'.format(i, df_ap.iloc[i]['buildID']))
        for j in range(len(transition)):
            group_transition[df_ap.iloc[i]['buildID']-1][df_ap.iloc[j]['buildID']-1] += transition[i][j]

    pd.DataFrame(group_transition).to_csv('./wifidata/cluster/'+month+'/group_transition_'+month+'_kmeans_'+str(cluster)+'.csv')
    #行和で割る
    group_transition_rate = group_transition
    tsum = group_transition.sum(axis=1)
    for c in group_transntion.columns:
        group_transition_rate[c] = group_transntion_rate[c]/tsum
        group_transntion_rate = group_transntion_rate.fillna(0)
    pd.DataFrame(group_transition_rate).to_csv('./wifidata/cluster/'+month+'/group_transition_rate_'+month+'_kmeans_'+str(cluster)+'.csv')

cluster = 0
i = 0, from_group = 1
i = 1, from_group = 1
i = 2, from_group = 1
i = 3, from_group = 1
i = 4, from_group = 1
i = 5, from_group = 1
i = 6, from_group = 1
i = 7, from_group = 1
i = 8, from_group = 1
i = 9, from_group = 1
i = 10, from_group = 1
i = 11, from_group = 1
i = 12, from_group = 1
i = 13, from_group = 1
i = 14, from_group = 1
i = 15, from_group = 1
i = 16, from_group = 1
i = 17, from_group = 1
i = 18, from_group = 1
i = 19, from_group = 1
i = 20, from_group = 1
i = 21, from_group = 1
i = 22, from_group = 1
i = 23, from_group = 1
i = 24, from_group = 1
i = 25, from_group = 1
i = 26, from_group = 1
i = 27, from_group = 1
i = 28, from_group = 1
i = 29, from_group = 1
i = 30, from_group = 2
i = 31, from_group = 2
i = 32, from_group = 2
i = 33, from_group = 2
i = 34, from_group = 2
i = 35, from_group = 2
i = 36, from_group = 2
i = 37, from_group = 2
i = 38, from_group = 2
i = 39, from_group = 2
i = 40, from_group = 2
i = 41, from_group = 2
i = 42, from_group = 2
i = 43, from_group = 2
i = 44, from_group = 2
i = 45, from_group = 2
i = 46, from_group = 2
i = 47, from_group = 2
i = 48, from_group = 2
i = 49, from_group = 2
i = 50, from_group = 2
i = 51, from_group = 3
i = 52, from_group = 3
i = 53, from_group = 3
i = 54, from_group = 3
i = 55, from_group = 3
i = 56, from_group = 3
i = 57, from_group = 3
i = 58, from_group = 3
i = 59, from_group = 3
i = 60, from_group = 3
i = 61, from_group = 3
i = 62, from_group = 3
i = 63, from_group = 3
i = 64, from_group = 3
i = 65, from_group = 3
i = 66, from_group = 3
i = 67, from_group = 3
i = 68, from_group = 3
i = 69, from_group = 3
i = 70, from_group = 3
i = 71, from_group = 3
i = 72, from_group = 3
i = 73, from_group = 3
i = 74, from_group = 3
i = 75, from_group = 3
i = 76, from_group = 3
i = 77, from_group = 3
i = 78, from_group = 3
i = 79, from_group = 3
i = 80, from_group = 3
i = 81, from_group = 3
i = 82, from_group = 3
i = 83, from_group = 3
i = 84, from_group = 3
i = 85, from_group = 3
i = 86, from_group = 3
i = 87, from_group = 3
i = 88, from_group = 3
i = 89, from_group = 3
i = 90, from_group = 3
i = 91, from_group = 3
i = 92, from_group = 3
i = 93, from_group = 3
i = 94, from_group = 3
i = 95, from_group = 3
i = 96, from_group = 3
i = 97, from_group = 3
i = 98, from_group = 3
i = 99, from_group = 3
i = 100, from_group = 3
i = 101, from_group = 3
i = 102, from_group = 3
i = 103, from_group = 3
i = 104, from_group = 3
i = 105, from_group = 3
i = 106, from_group = 3
i = 107, from_group = 3
i = 108, from_group = 3
i = 109, from_group = 3
i = 110, from_group = 3
i = 111, from_group = 3
i = 112, from_group = 3
i = 113, from_group = 3
i = 114, from_group = 3
i = 115, from_group = 3
i = 116, from_group = 3
i = 117, from_group = 3
i = 118, from_group = 3
i = 119, from_group = 3
i = 120, from_group = 3
i = 121, from_group = 3
i = 122, from_group = 3
i = 123, from_group = 3
i = 124, from_group = 3
i = 125, from_group = 3
i = 126, from_group = 3
i = 127, from_group = 3
i = 128, from_group = 3
i = 129, from_group = 3
i = 130, from_group = 3
i = 131, from_group = 3
i = 132, from_group = 3
i = 133, from_group = 3
i = 134, from_group = 3
i = 135, from_group = 3
i = 136, from_group = 3
i = 137, from_group = 3
i = 138, from_group = 3
i = 139, from_group = 3
i = 140, from_group = 3
i = 141, from_group = 3
i = 142, from_group = 3
i = 143, from_group = 3
i = 144, from_group = 3
i = 145, from_group = 3
i = 146, from_group = 3
i = 147, from_group = 3
i = 148, from_group = 3
i = 149, from_group = 3
i = 150, from_group = 3
i = 151, from_group = 3
i = 152, from_group = 3
i = 153, from_group = 3
i = 154, from_group = 3
i = 155, from_group = 3
i = 156, from_group = 3
i = 157, from_group = 3
i = 158, from_group = 3
i = 159, from_group = 3
i = 160, from_group = 3
i = 161, from_group = 3
i = 162, from_group = 3
i = 163, from_group = 3
i = 164, from_group = 3
i = 165, from_group = 3
i = 166, from_group = 3
i = 167, from_group = 3
i = 168, from_group = 3
i = 169, from_group = 3
i = 170, from_group = 3
i = 171, from_group = 3
i = 172, from_group = 3
i = 173, from_group = 3
i = 174, from_group = 3
i = 175, from_group = 3
i = 176, from_group = 3
i = 177, from_group = 3
i = 178, from_group = 3
i = 179, from_group = 3
i = 180, from_group = 3
i = 181, from_group = 3
i = 182, from_group = 3
i = 183, from_group = 3
i = 184, from_group = 3
i = 185, from_group = 3
i = 186, from_group = 3
i = 187, from_group = 3
i = 188, from_group = 3
i = 189, from_group = 4
i = 190, from_group = 4
i = 191, from_group = 4
i = 192, from_group = 4
i = 193, from_group = 4
i = 194, from_group = 4
i = 195, from_group = 4
i = 196, from_group = 4
i = 197, from_group = 4
i = 198, from_group = 4
i = 199, from_group = 4
i = 200, from_group = 4
i = 201, from_group = 4
i = 202, from_group = 4
i = 203, from_group = 4
i = 204, from_group = 4
i = 205, from_group = 4
i = 206, from_group = 4
i = 207, from_group = 4
i = 208, from_group = 4
i = 209, from_group = 4
i = 210, from_group = 4
i = 211, from_group = 4
i = 212, from_group = 4
i = 213, from_group = 4
i = 214, from_group = 4
i = 215, from_group = 4
i = 216, from_group = 4
i = 217, from_group = 4
i = 218, from_group = 4
i = 219, from_group = 4
i = 220, from_group = 4
i = 221, from_group = 4
i = 222, from_group = 4
i = 223, from_group = 5
i = 224, from_group = 6
i = 225, from_group = 6
i = 226, from_group = 6
i = 227, from_group = 6
i = 228, from_group = 6
i = 229, from_group = 6
i = 230, from_group = 6
i = 231, from_group = 6
i = 232, from_group = 6
i = 233, from_group = 6
i = 234, from_group = 6
i = 235, from_group = 6
i = 236, from_group = 6
i = 237, from_group = 6
i = 238, from_group = 6
i = 239, from_group = 6
i = 240, from_group = 6
i = 241, from_group = 6
i = 242, from_group = 6
i = 243, from_group = 6
i = 244, from_group = 6
i = 245, from_group = 6
i = 246, from_group = 6
i = 247, from_group = 6
i = 248, from_group = 6
i = 249, from_group = 6
i = 250, from_group = 6
i = 251, from_group = 6
i = 252, from_group = 6
i = 253, from_group = 6
i = 254, from_group = 6
i = 255, from_group = 6
i = 256, from_group = 6
i = 257, from_group = 6
i = 258, from_group = 6
i = 259, from_group = 6
i = 260, from_group = 6
i = 261, from_group = 6
i = 262, from_group = 6
i = 263, from_group = 7
i = 264, from_group = 8
i = 265, from_group = 8
i = 266, from_group = 8
i = 267, from_group = 8
i = 268, from_group = 8
i = 269, from_group = 8
i = 270, from_group = 8
i = 271, from_group = 8
i = 272, from_group = 8
i = 273, from_group = 8
i = 274, from_group = 8
i = 275, from_group = 8
i = 276, from_group = 8
i = 277, from_group = 8
i = 278, from_group = 8
i = 279, from_group = 8
i = 280, from_group = 8
i = 281, from_group = 8
i = 282, from_group = 8
i = 283, from_group = 8
i = 284, from_group = 8
i = 285, from_group = 8
i = 286, from_group = 8
i = 287, from_group = 8
i = 288, from_group = 9
i = 289, from_group = 9
i = 290, from_group = 9
i = 291, from_group = 9
i = 292, from_group = 9
i = 293, from_group = 9
i = 294, from_group = 9
i = 295, from_group = 9
i = 296, from_group = 9
i = 297, from_group = 9
i = 298, from_group = 9
i = 299, from_group = 9
i = 300, from_group = 9
i = 301, from_group = 9
i = 302, from_group = 9
i = 303, from_group = 9
i = 304, from_group = 9
i = 305, from_group = 9
i = 306, from_group = 10
i = 307, from_group = 10
i = 308, from_group = 10
i = 309, from_group = 10
i = 310, from_group = 10
i = 311, from_group = 10
i = 312, from_group = 10
i = 313, from_group = 10
i = 314, from_group = 11
i = 315, from_group = 11
i = 316, from_group = 11
i = 317, from_group = 11
i = 318, from_group = 11
i = 319, from_group = 11
i = 320, from_group = 11
i = 321, from_group = 11
i = 322, from_group = 11
i = 323, from_group = 11
i = 324, from_group = 11
i = 325, from_group = 11
i = 326, from_group = 11
i = 327, from_group = 11
i = 328, from_group = 11
i = 329, from_group = 11
i = 330, from_group = 11
i = 331, from_group = 11
i = 332, from_group = 11
i = 333, from_group = 11
i = 334, from_group = 11
i = 335, from_group = 11
i = 336, from_group = 11
i = 337, from_group = 11
i = 338, from_group = 11
i = 339, from_group = 11
i = 340, from_group = 11
i = 341, from_group = 11
i = 342, from_group = 11
i = 343, from_group = 11
i = 344, from_group = 11
i = 345, from_group = 11
i = 346, from_group = 11
i = 347, from_group = 11
i = 348, from_group = 11
i = 349, from_group = 11
i = 350, from_group = 11
i = 351, from_group = 11
i = 352, from_group = 11
i = 353, from_group = 11
i = 354, from_group = 11
i = 355, from_group = 11
i = 356, from_group = 11
i = 357, from_group = 11
i = 358, from_group = 11
i = 359, from_group = 11
i = 360, from_group = 11
i = 361, from_group = 11
i = 362, from_group = 11
i = 363, from_group = 11
i = 364, from_group = 11
i = 365, from_group = 12
i = 366, from_group = 12
i = 367, from_group = 12
i = 368, from_group = 12
i = 369, from_group = 13
i = 370, from_group = 14
i = 371, from_group = 14
i = 372, from_group = 14
i = 373, from_group = 14
i = 374, from_group = 14
i = 375, from_group = 14
i = 376, from_group = 14
i = 377, from_group = 14
i = 378, from_group = 14
i = 379, from_group = 14
i = 380, from_group = 14
i = 381, from_group = 14
i = 382, from_group = 14
i = 383, from_group = 14
i = 384, from_group = 14
i = 385, from_group = 14
i = 386, from_group = 14
i = 387, from_group = 14
i = 388, from_group = 14
i = 389, from_group = 14
i = 390, from_group = 14
i = 391, from_group = 14
i = 392, from_group = 14
i = 393, from_group = 14
i = 394, from_group = 14
i = 395, from_group = 14
i = 396, from_group = 14
i = 397, from_group = 14
i = 398, from_group = 14
i = 399, from_group = 14
i = 400, from_group = 14
i = 401, from_group = 14
i = 402, from_group = 14
i = 403, from_group = 14
i = 404, from_group = 14
i = 405, from_group = 14
i = 406, from_group = 14
i = 407, from_group = 14
i = 408, from_group = 14
i = 409, from_group = 14
i = 410, from_group = 14
i = 411, from_group = 14
i = 412, from_group = 14
i = 413, from_group = 15
i = 414, from_group = 15
i = 415, from_group = 15
i = 416, from_group = 15
i = 417, from_group = 15
i = 418, from_group = 15
i = 419, from_group = 15
i = 420, from_group = 15
i = 421, from_group = 15
i = 422, from_group = 15
i = 423, from_group = 15
i = 424, from_group = 15
i = 425, from_group = 15
i = 426, from_group = 15
i = 427, from_group = 15
i = 428, from_group = 15
i = 429, from_group = 15
i = 430, from_group = 15
i = 431, from_group = 15
i = 432, from_group = 15
i = 433, from_group = 15
i = 434, from_group = 16
i = 435, from_group = 16
i = 436, from_group = 16
i = 437, from_group = 16
i = 438, from_group = 16
i = 439, from_group = 16
i = 440, from_group = 16
i = 441, from_group = 16
i = 442, from_group = 16
i = 443, from_group = 16
i = 444, from_group = 16
i = 445, from_group = 16
i = 446, from_group = 16
i = 447, from_group = 16
i = 448, from_group = 16
i = 449, from_group = 16
i = 450, from_group = 16
i = 451, from_group = 16
i = 452, from_group = 16
i = 453, from_group = 16
i = 454, from_group = 16
i = 455, from_group = 16
i = 456, from_group = 16
i = 457, from_group = 16
i = 458, from_group = 16
i = 459, from_group = 16
i = 460, from_group = 16
i = 461, from_group = 16
i = 462, from_group = 16
i = 463, from_group = 16
i = 464, from_group = 16
i = 465, from_group = 16
i = 466, from_group = 16
i = 467, from_group = 16
i = 468, from_group = 16
i = 469, from_group = 16
i = 470, from_group = 16
i = 471, from_group = 17
i = 472, from_group = 17
i = 473, from_group = 17
i = 474, from_group = 17
i = 475, from_group = 17
i = 476, from_group = 17
i = 477, from_group = 17
i = 478, from_group = 17
i = 479, from_group = 17
i = 480, from_group = 17
i = 481, from_group = 17
i = 482, from_group = 17
i = 483, from_group = 17
i = 484, from_group = 17
i = 485, from_group = 17
i = 486, from_group = 18
i = 487, from_group = 18
i = 488, from_group = 18
i = 489, from_group = 18
i = 490, from_group = 18
i = 491, from_group = 18
i = 492, from_group = 18
i = 493, from_group = 18
i = 494, from_group = 18
i = 495, from_group = 18
i = 496, from_group = 18
i = 497, from_group = 18
i = 498, from_group = 19
i = 499, from_group = 19
i = 500, from_group = 19
i = 501, from_group = 19
i = 502, from_group = 19
i = 503, from_group = 19
i = 504, from_group = 19
i = 505, from_group = 19
i = 506, from_group = 19
i = 507, from_group = 19
i = 508, from_group = 19
i = 509, from_group = 19
i = 510, from_group = 19
i = 511, from_group = 19
i = 512, from_group = 19
i = 513, from_group = 19
i = 514, from_group = 19
i = 515, from_group = 19
i = 516, from_group = 19
i = 517, from_group = 19
i = 518, from_group = 20
i = 519, from_group = 20
i = 520, from_group = 20
i = 521, from_group = 20
i = 522, from_group = 20
i = 523, from_group = 20
i = 524, from_group = 20
i = 525, from_group = 20
i = 526, from_group = 20
i = 527, from_group = 20
i = 528, from_group = 20
i = 529, from_group = 20
i = 530, from_group = 20
i = 531, from_group = 20
i = 532, from_group = 20
i = 533, from_group = 20
i = 534, from_group = 20
i = 535, from_group = 20
i = 536, from_group = 20
i = 537, from_group = 20
i = 538, from_group = 20
i = 539, from_group = 20
i = 540, from_group = 20
i = 541, from_group = 20
i = 542, from_group = 20
i = 543, from_group = 20
i = 544, from_group = 20
i = 545, from_group = 20
i = 546, from_group = 20
i = 547, from_group = 20
i = 548, from_group = 20
i = 549, from_group = 20
i = 550, from_group = 20
i = 551, from_group = 20
i = 552, from_group = 20
i = 553, from_group = 20
i = 554, from_group = 21
i = 555, from_group = 21
i = 556, from_group = 21
i = 557, from_group = 21
i = 558, from_group = 21
i = 559, from_group = 21
i = 560, from_group = 21
i = 561, from_group = 21
i = 562, from_group = 22
i = 563, from_group = 22
i = 564, from_group = 22
i = 565, from_group = 22
i = 566, from_group = 22
i = 567, from_group = 22
i = 568, from_group = 22
i = 569, from_group = 22
i = 570, from_group = 22
i = 571, from_group = 22
i = 572, from_group = 22
i = 573, from_group = 22
i = 574, from_group = 22
i = 575, from_group = 22
i = 576, from_group = 22
i = 577, from_group = 22
i = 578, from_group = 22
i = 579, from_group = 22
i = 580, from_group = 22
i = 581, from_group = 22
i = 582, from_group = 22
i = 583, from_group = 22
i = 584, from_group = 22
i = 585, from_group = 22
i = 586, from_group = 23
i = 587, from_group = 23
i = 588, from_group = 23
i = 589, from_group = 23
i = 590, from_group = 23
i = 591, from_group = 23
i = 592, from_group = 23
i = 593, from_group = 23
i = 594, from_group = 23
i = 595, from_group = 23
i = 596, from_group = 23
i = 597, from_group = 23
i = 598, from_group = 23
i = 599, from_group = 23
i = 600, from_group = 23
i = 601, from_group = 23
i = 602, from_group = 23
i = 603, from_group = 23
i = 604, from_group = 23
i = 605, from_group = 23
i = 606, from_group = 23
i = 607, from_group = 23
i = 608, from_group = 23
i = 609, from_group = 23
i = 610, from_group = 23
i = 611, from_group = 23
i = 612, from_group = 23
i = 613, from_group = 23
i = 614, from_group = 23
i = 615, from_group = 23
i = 616, from_group = 23
i = 617, from_group = 23
i = 618, from_group = 23
i = 619, from_group = 23
i = 620, from_group = 23
i = 621, from_group = 23
i = 622, from_group = 23
i = 623, from_group = 23
i = 624, from_group = 23
i = 625, from_group = 23
i = 626, from_group = 23
i = 627, from_group = 23
i = 628, from_group = 23
i = 629, from_group = 23
i = 630, from_group = 23
i = 631, from_group = 23
i = 632, from_group = 24
i = 633, from_group = 24
i = 634, from_group = 24
i = 635, from_group = 24
i = 636, from_group = 24
i = 637, from_group = 24
i = 638, from_group = 25
i = 639, from_group = 25
i = 640, from_group = 25
i = 641, from_group = 25
i = 642, from_group = 25
i = 643, from_group = 25
i = 644, from_group = 25
i = 645, from_group = 25
i = 646, from_group = 25
i = 647, from_group = 25
i = 648, from_group = 25
i = 649, from_group = 25
i = 650, from_group = 25
i = 651, from_group = 25
i = 652, from_group = 25
i = 653, from_group = 25
i = 654, from_group = 25
i = 655, from_group = 25
i = 656, from_group = 25
i = 657, from_group = 25
i = 658, from_group = 25
i = 659, from_group = 25
i = 660, from_group = 25
i = 661, from_group = 25
i = 662, from_group = 26
i = 663, from_group = 26
i = 664, from_group = 26
i = 665, from_group = 26
i = 666, from_group = 26
i = 667, from_group = 26
i = 668, from_group = 26
i = 669, from_group = 26
i = 670, from_group = 26
i = 671, from_group = 26
i = 672, from_group = 26
i = 673, from_group = 26
i = 674, from_group = 26
i = 675, from_group = 26
i = 676, from_group = 26
i = 677, from_group = 26
i = 678, from_group = 26
i = 679, from_group = 26
i = 680, from_group = 26
i = 681, from_group = 26
i = 682, from_group = 26
i = 683, from_group = 26
i = 684, from_group = 26
i = 685, from_group = 26
i = 686, from_group = 26
i = 687, from_group = 26
i = 688, from_group = 26
i = 689, from_group = 26
i = 690, from_group = 26
i = 691, from_group = 26
i = 692, from_group = 26
i = 693, from_group = 26
i = 694, from_group = 26
i = 695, from_group = 26
i = 696, from_group = 27
i = 697, from_group = 27
i = 698, from_group = 28
i = 699, from_group = 28
i = 700, from_group = 28
i = 701, from_group = 28
i = 702, from_group = 28
i = 703, from_group = 28
i = 704, from_group = 29
i = 705, from_group = 29
i = 706, from_group = 29
i = 707, from_group = 30
i = 708, from_group = 30
i = 709, from_group = 30
i = 710, from_group = 30
i = 711, from_group = 30
i = 712, from_group = 30
i = 713, from_group = 30
i = 714, from_group = 31
i = 715, from_group = 31
i = 716, from_group = 31
i = 717, from_group = 31
i = 718, from_group = 31
i = 719, from_group = 31
i = 720, from_group = 31
i = 721, from_group = 31
i = 722, from_group = 31
i = 723, from_group = 31
i = 724, from_group = 31
i = 725, from_group = 31
i = 726, from_group = 31
i = 727, from_group = 31
i = 728, from_group = 31
i = 729, from_group = 31
i = 730, from_group = 31
i = 731, from_group = 31
i = 732, from_group = 31
i = 733, from_group = 31
i = 734, from_group = 31
i = 735, from_group = 31
i = 736, from_group = 31
i = 737, from_group = 31
i = 738, from_group = 31
i = 739, from_group = 31
i = 740, from_group = 31
i = 741, from_group = 31
i = 742, from_group = 31
i = 743, from_group = 31
i = 744, from_group = 31
i = 745, from_group = 31
i = 746, from_group = 31
i = 747, from_group = 31
i = 748, from_group = 31
i = 749, from_group = 31
i = 750, from_group = 32
i = 751, from_group = 32
i = 752, from_group = 33
i = 753, from_group = 33
i = 754, from_group = 33
i = 755, from_group = 33
i = 756, from_group = 33
i = 757, from_group = 34
i = 758, from_group = 34
i = 759, from_group = 34
i = 760, from_group = 34
i = 761, from_group = 34
i = 762, from_group = 34
i = 763, from_group = 34
i = 764, from_group = 34
i = 765, from_group = 34
i = 766, from_group = 34
i = 767, from_group = 34
i = 768, from_group = 34
i = 769, from_group = 34
i = 770, from_group = 35
i = 771, from_group = 35
i = 772, from_group = 35
i = 773, from_group = 35
i = 774, from_group = 35
i = 775, from_group = 35
i = 776, from_group = 35
i = 777, from_group = 35
i = 778, from_group = 35
i = 779, from_group = 35
i = 780, from_group = 35
i = 781, from_group = 35
i = 782, from_group = 35
i = 783, from_group = 35
i = 784, from_group = 35
i = 785, from_group = 35
i = 786, from_group = 35
i = 787, from_group = 35
i = 788, from_group = 35
i = 789, from_group = 35
i = 790, from_group = 35
i = 791, from_group = 35
i = 792, from_group = 35
i = 793, from_group = 35
i = 794, from_group = 35
i = 795, from_group = 35
i = 796, from_group = 35
i = 797, from_group = 35
i = 798, from_group = 35
i = 799, from_group = 35
i = 800, from_group = 35
i = 801, from_group = 35
i = 802, from_group = 35
i = 803, from_group = 35
i = 804, from_group = 35
i = 805, from_group = 35
i = 806, from_group = 35
i = 807, from_group = 35
i = 808, from_group = 35
i = 809, from_group = 35
i = 810, from_group = 36
i = 811, from_group = 36
i = 812, from_group = 36
i = 813, from_group = 36
i = 814, from_group = 36
i = 815, from_group = 36

In [35]:
#duration_201XXX_kmeans_X.csvのAP->Groupへの変換
month = '201409'
for cluster in range(5):
    print('cluster = {0}'.format(cluster))
    df_duration = pd.read_csv('./wifidata/cluster/'+month+'/duration_'+month+'_kmeans_'+str(cluster)+'.csv',index_col=0)
    #グループに変換
    for i, row in enumerate(df_ap.itertuples()):
        df_duration.loc[df_duration['from'] == i, 'from'] = row.buildID
        df_duration.loc[df_duration['to'] == i, 'to'] = row.buildID
        #print(str(i+1)+'/'+str(len(df_ap)))
    df_duration.to_csv('./wifidata/cluster/'+month+'/group_duration_'+month+'_kmeans_'+str(cluster)+'.csv',index = False)

cluster = 0
cluster = 1
cluster = 2
cluster = 3
cluster = 4